.post-title {
  font-size: 4rem;
  font-size: clamp(2rem, 10vw, 4rem);
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 0 0 0.25em;
}
.post-tags {
  display: inline;
}
.post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-body p, .post-body img {
  max-width: 600px; /* Adjust as needed */
}
.post-body p {
  margin-top: 10px;  
  font-size: 1rem; /* Adjust as needed */
  text-align: justify;
}
.post-body img {
  max-width: 100%;
  height: auto;
}
.post-body ol, .post-body em, .post-body blockquote {
  max-width: 100%;
  align-self: start;
}
.post-navigation {
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & li {
    padding: 1em;
  }
}

blockquote {
  font-size: 2.5em; /* Adjust as needed */
  font-family: 'Cormorant Garamond', serif;
}

h1, h2, h3 {
  font-weight: bold;
}